root = true

[*.{cs,csx}]
# Promote analyzer diagnostics to warnings.
dotnet_analyzer_diagnostic.severity = warning

# Prefer 'var' for built-in and other types.
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = true:warning

# Basic quality rules.
dotnet_diagnostic.IDE0051.severity = warning

